.section1-landing {
  background-image: url('~@images/bg.jpg');
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .brand {
      text-align: center;

      span,
      b {
        font-family: 'bignoodletoo', 'Roboto', sans-serif !important;
        position: relative;

        input {
          height: 100%;
          font-weight: 800;
          text-align: center;
          font-size: 70px;
          letter-spacing: 10px;
          background: none;
          border: none;
          border-bottom: 5px solid $orange1;
          transition: all 0.3s ease-in-out;

          &:focus {
            padding: 10px 3px;
            outline: none;
            box-shadow: 0 3px 0 $dark1;
          }

          &::placeholder {
            color: $gray1;
          }

          &.submit-action {
            padding-top: 10px;
            font-size: 30px;
            width: 100%;
          }
        }
      }


      .menu {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        font-weight: 400;
        text-align: center;
        border-bottom: none;

        &>div {
          text-align: center;
          margin: 5px 35px;
          cursor: pointer;
          letter-spacing: 4px;
          font-family: 'bignoodletoo', 'Roboto', sans-serif !important;
          transition: transform 0.3s ease-out, border-bottom 0.3s ease-out;

          &:hover {
            transform: translateY(-2px);
            // border-bottom: 1px solid $dark2;
          }
        }

        i {
          color: $orange1 !important;
          text-shadow: 0 0 1px 1px $dark1;
        }

      }
    }
  }

  .profile-stat {


    .profile-img {
      margin-top: 30px;

      img {
        border: 10px solid $dark1;
        box-shadow: inset 0 1px 3px 2px $dark2 !important;
      }
    }

    .profile-ranking {
      font-size: 25px;
      margin-top: 10px;
      letter-spacing: 1.5px;

      span {}

      b {
        color: $orange1;
      }
    }


    .profile-sr {
      font-size: 20px;

      span {
        color: $dark3;
        letter-spacing: 5px;
      }
    }
  }

}
